

html,
body {
  overflow-x: hidden;
}

.lead {
  font-size: 1.125rem;
  font-weight: 400;
}
.text-center .title-letter {
  left: 0;
  right: 0;
}
.title-letter {
  position: absolute;
  top: 50%;
  left: 0.25em;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 3em;
  line-height: 1;
  font-weight: 700;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.07);
  transform: translate(0%, -50%);
  -webkit-user-select: none;
  user-select: none;
}
h1 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.nav-toggle.nav-toggle-light {
  border-color: rgba(255, 255, 255, 0.2);
}


.title-bt{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
  color: blue;
  background-color: #5a5a5c5e;
}

.nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 54px;
  height: 34px;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius:14%;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.07), 0 0 5px rgba(0, 0, 0, 0.07); */
  color: #fff;
  cursor: pointer;
  outline: none;
  z-index: 10000;
  -webkit-user-select: none;
  user-select: none;
}
.container{
  padding-top: 25px;
  padding-bottom: 25px;
}
section {
  position: relative;
  width: 100%;
  padding: 7rem 0;
}
.nav-toggle:focus {
  outline: none;
}
.h6 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.55;
}

.page-cover-wrapper-fixed {
  position: relative;
  width: 100%;
  height: inherit;
}
.page-content {
  position: relative;
  background: #fff;
}
.page-cover {
  position: relative;
  overflow: hidden;
  min-height: 240px;
  background-color: rgba(53, 73, 225, 0.865);
}
.page-cover .container > *:not(.cover-letter) {
  position: relative;
  z-index: 2;
}

@media (max-width: 991.99px) {
  h1 {
    font-size: 1.875rem;
  }

}

@media (max-width: 1199.98px) {
  section {
    padding: 5rem 0;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 2880px) and (max-height: 5120px) {
  html {
    font-size: 19px;
  }
}



@media (min-width: 576px) {
  #backtotop {
    right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #backtotop {
    right: 30px;
  }
}

@media (min-width: 576px) {
  .nav-toggle {
    top: 20px;
    right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .nav-toggle {
    top: 30px;
    right: 30px;
  }
}

@media (min-height: 640px) {
  .page-cover-wrapper-fixed {
    position: fixed;
    max-height: 100vh;
  }
}

@media (min-width: 1200px) and (min-height: 640px) {
  .page-cover-wrapper-fixed {
    width: auto;
    left: 0px;
    right: 0;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 2880px) and (max-height: 5120px) {
  .page-cover-wrapper-fixed {
    left: 20%;
  }
}

pre {
  border: 1px solid #c5bebe;
}

.id-color {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #f00, #0f0, #0ff, #00f, #f0f, #f00);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 7s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}